APP_PORT=4000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password
POSTGRES_DB=customermates

BASE_URL=http://localhost:4000

BETTER_AUTH_SECRET=change-this-to-a-long-random-secret

RESEND_API_KEY="XXX"
RESEND_OPERATOR_EMAIL=mail@your-company.com

TRIGGER_SECRET_KEY="XXX"
TRIGGER_PROJECT_REF="XXX"
