{
  "openapi": "3.1.0",
  "info": {
    "title": "Customermates API",
    "description": "API for Customermates application",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://customermates.tailf11599.ts.net/api",
      "description": "API Server"
    }
  ],
  "paths": {
    "/v1/contacts": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Creates a new contact. First name and last name are required. All other fields are optional.",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The contact was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "notes": {
                      "description": "Markdown content",
                      "anyOf": [
                        {},
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "identifiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "provider": {
                            "type": "string",
                            "enum": [
                              "google",
                              "outlook",
                              "mail",
                              "linkedin",
                              "whatsapp",
                              "instagram",
                              "telegram"
                            ]
                          },
                          "value": {
                            "type": "string"
                          },
                          "messagingId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "displayName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "profileUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "provider",
                          "value",
                          "messagingId",
                          "displayName",
                          "profileUrl"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "avatarUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                          }
                        },
                        "required": [
                          "id",
                          "firstName",
                          "lastName",
                          "avatarUrl",
                          "email"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "deals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "userPendingAuthorization",
                              "custom"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "type"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "customFieldValues": {
                      "description": "Custom field values for this contact. Query available custom field configurations via GET /v1/contacts/configuration, which returns customColumns with their definitions.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "columnId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "value": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "columnId"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "avatarUrl",
                    "identifiers",
                    "createdAt",
                    "updatedAt",
                    "organizations",
                    "users",
                    "deals",
                    "tasks",
                    "customFieldValues"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/many": {
      "post": {
        "operationId": "createManyContacts",
        "summary": "Create many contacts",
        "description": "Creates many contacts in a single request. Each contact requires first name and last name. All other fields are optional.",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateManyContactsSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The contacts were created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "notes": {
                        "description": "Markdown content",
                        "anyOf": [
                          {},
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "identifiers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "provider": {
                              "type": "string",
                              "enum": [
                                "google",
                                "outlook",
                                "mail",
                                "linkedin",
                                "whatsapp",
                                "instagram",
                                "telegram"
                              ]
                            },
                            "value": {
                              "type": "string"
                            },
                            "messagingId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "displayName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "profileUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "provider",
                            "value",
                            "messagingId",
                            "displayName",
                            "profileUrl"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "organizations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                            }
                          },
                          "required": [
                            "id",
                            "firstName",
                            "lastName",
                            "avatarUrl",
                            "email"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "deals": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "tasks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "userPendingAuthorization",
                                "custom"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "customFieldValues": {
                        "description": "Custom field values for this contact. Query available custom field configurations via GET /v1/contacts/configuration, which returns customColumns with their definitions.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "columnId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "value": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "columnId"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "id",
                      "firstName",
                      "lastName",
                      "avatarUrl",
                      "identifiers",
                      "createdAt",
                      "updatedAt",
                      "organizations",
                      "users",
                      "deals",
                      "tasks",
                      "customFieldValues"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateManyContacts",
        "summary": "Update many contacts",
        "description": "Updates many contacts in a single request. Each contact is addressed by id (the contact UUID, an email or phone, or 'provider:value' for a handle). All other fields are optional.",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateManyContactsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contacts were updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "avatarUrl": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "notes": {
                        "description": "Markdown content",
                        "anyOf": [
                          {},
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "identifiers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "provider": {
                              "type": "string",
                              "enum": [
                                "google",
                                "outlook",
                                "mail",
                                "linkedin",
                                "whatsapp",
                                "instagram",
                                "telegram"
                              ]
                            },
                            "value": {
                              "type": "string"
                            },
                            "messagingId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "displayName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "profileUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "provider",
                            "value",
                            "messagingId",
                            "displayName",
                            "profileUrl"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "organizations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                            }
                          },
                          "required": [
                            "id",
                            "firstName",
                            "lastName",
                            "avatarUrl",
                            "email"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "deals": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "tasks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "userPendingAuthorization",
                                "custom"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "customFieldValues": {
                        "description": "Custom field values for this contact. Query available custom field configurations via GET /v1/contacts/configuration, which returns customColumns with their definitions.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "columnId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "value": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "columnId"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "id",
                      "firstName",
                      "lastName",
                      "avatarUrl",
                      "identifiers",
                      "createdAt",
                      "updatedAt",
                      "organizations",
                      "users",
                      "deals",
                      "tasks",
                      "customFieldValues"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteManyContacts",
        "summary": "Delete many contacts",
        "description": "Deletes many contacts by their id (UUID, email/phone, or provider:value handle) in a single request. This operation cannot be undone.",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteManyContactsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contacts were deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "minItems": 1,
                  "maxItems": 100,
                  "type": "array",
                  "items": {
                    "description": "Which contact to address. Must be ONE of: the contact's UUID (e.g. '3fa85f64-5717-4562-b3fc-2c963f66afa6'); an email address (e.g. 'jane@example.com', matched across mail/Google/Outlook); a phone number (e.g. '+491234567890', matched across WhatsApp/Telegram); or 'provider:value' for a messaging handle where provider is one of linkedin, telegram, instagram (e.g. 'linkedin:john-doe', 'telegram:jdoe', 'instagram:jane'). The contact must already exist; unknown or malformed keys are rejected.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/search": {
      "post": {
        "operationId": "getContacts",
        "summary": "Get contacts",
        "description": "Retrieves a list of contacts with optional filtering, sorting, and pagination.",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "title": "Single value filter",
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string"
                            },
                            "operator": {
                              "anyOf": [
                                {
                                  "title": "equals",
                                  "type": "string",
                                  "const": "equals"
                                },
                                {
                                  "title": "contains",
                                  "type": "string",
                                  "const": "contains"
                                },
                                {
                                  "title": "gt",
                                  "type": "string",
                                  "const": "gt"
                                },
                                {
                                  "title": "gte",
                                  "type": "string",
                                  "const": "gte"
                                },
                                {
                                  "title": "lt",
                                  "type": "string",
                                  "const": "lt"
                                },
                                {
                                  "title": "lte",
                                  "type": "string",
                                  "const": "lte"
                                }
                              ]
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "field",
                            "operator",
                            "value"
                          ]
                        },
                        {
                          "title": "Multi value filter",
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string"
                            },
                            "operator": {
                              "anyOf": [
                                {
                                  "title": "in",
                                  "type": "string",
                                  "const": "in"
                                },
                                {
                                  "title": "notIn",
                                  "type": "string",
                                  "const": "notIn"
                                },
                                {
                                  "title": "between",
                                  "type": "string",
                                  "const": "between"
                                },
                                {
                                  "title": "hasNone",
                                  "type": "string",
                                  "const": "hasNone"
                                },
                                {
                                  "title": "hasSome",
                                  "type": "string",
                                  "const": "hasSome"
                                }
                              ]
                            },
                            "value": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "field",
                            "operator",
                            "value"
                          ]
                        },
                        {
                          "title": "Standalone filter",
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string"
                            },
                            "operator": {
                              "anyOf": [
                                {
                                  "title": "isNull",
                                  "type": "string",
                                  "const": "isNull"
                                },
                                {
                                  "title": "isNotNull",
                                  "type": "string",
                                  "const": "isNotNull"
                                },
                                {
                                  "title": "hasUnset",
                                  "type": "string",
                                  "const": "hasUnset"
                                },
                                {
                                  "title": "allSet",
                                  "type": "string",
                                  "const": "allSet"
                                }
                              ]
                            }
                          },
                          "required": [
                            "field",
                            "operator"
                          ]
                        },
                        {
                          "title": "Relative window filter",
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string"
                            },
                            "operator": {
                              "title": "inLastDays",
                              "type": "string",
                              "const": "inLastDays"
                            },
                            "value": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "field",
                            "operator",
                            "value"
                          ]
                        }
                      ],
                      "type": "object"
                    }
                  },
                  "searchTerm": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "sortDescriptor": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string"
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    },
                    "required": [
                      "field",
                      "direction"
                    ]
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "minimum": 1
                      },
                      "pageSize": {
                        "anyOf": [
                          {
                            "title": "5",
                            "type": "number",
                            "const": 5
                          },
                          {
                            "title": "10",
                            "type": "number",
                            "const": 10
                          },
                          {
                            "title": "25",
                            "type": "number",
                            "const": 25
                          },
                          {
                            "title": "100",
                            "type": "number",
                            "const": 100
                          }
                        ]
                      }
                    },
                    "required": [
                      "page",
                      "pageSize"
                    ]
                  },
                  "groupedPagination": {
                    "type": "object",
                    "properties": {
                      "groupingColumnId": {
                        "type": "string"
                      },
                      "perGroup": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 500
                      },
                      "overrides": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 500
                        }
                      }
                    },
                    "required": [
                      "groupingColumnId",
                      "perGroup"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contacts were retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customColumns": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "title": "Plain",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "plain"
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Date",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "date"
                              },
                              "options": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "displayFormat": {
                                        "type": "string",
                                        "enum": [
                                          "numericalLong",
                                          "numericalShort",
                                          "descriptiveShort",
                                          "descriptiveLong",
                                          "relative"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "displayFormat"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "DateTime",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "dateTime"
                              },
                              "options": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "displayFormat": {
                                        "type": "string",
                                        "enum": [
                                          "numericalLong",
                                          "numericalShort",
                                          "descriptiveShort",
                                          "descriptiveLong",
                                          "relative"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "displayFormat"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "DateRange",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "dateRange"
                              },
                              "options": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "displayFormat": {
                                        "type": "string",
                                        "enum": [
                                          "numericalLong",
                                          "numericalShort",
                                          "descriptiveShort",
                                          "descriptiveLong",
                                          "relative"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "displayFormat"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "DateTimeRange",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "dateTimeRange"
                              },
                              "options": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "displayFormat": {
                                        "type": "string",
                                        "enum": [
                                          "numericalLong",
                                          "numericalShort",
                                          "descriptiveShort",
                                          "descriptiveLong",
                                          "relative"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "displayFormat"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Link",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "link"
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "color": {
                                    "type": "string",
                                    "enum": [
                                      "default",
                                      "secondary",
                                      "destructive",
                                      "success",
                                      "warning",
                                      "info"
                                    ]
                                  },
                                  "allowMultiple": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "color",
                                  "allowMultiple"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type",
                              "options"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Currency",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "currency"
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "enum": [
                                      "eur",
                                      "usd",
                                      "gbp",
                                      "jpy",
                                      "cny",
                                      "inr",
                                      "brl",
                                      "cad",
                                      "aud",
                                      "chf",
                                      "sek",
                                      "nok",
                                      "dkk",
                                      "pln",
                                      "czk",
                                      "huf",
                                      "try",
                                      "twd",
                                      "zar",
                                      "mxn",
                                      "krw",
                                      "hkd",
                                      "sgd",
                                      "nzd",
                                      "aed",
                                      "sar",
                                      "ils"
                                    ]
                                  }
                                },
                                "required": [
                                  "currency"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type",
                              "options"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "SingleSelect",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "singleSelect"
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "color": {
                                          "type": "string",
                                          "enum": [
                                            "default",
                                            "secondary",
                                            "destructive",
                                            "success",
                                            "warning",
                                            "info"
                                          ]
                                        },
                                        "isDefault": {
                                          "type": "boolean"
                                        },
                                        "index": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "value",
                                        "label",
                                        "color",
                                        "isDefault",
                                        "index"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "options"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type",
                              "options"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Email",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "email"
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "color": {
                                    "type": "string",
                                    "enum": [
                                      "default",
                                      "secondary",
                                      "destructive",
                                      "success",
                                      "warning",
                                      "info"
                                    ]
                                  },
                                  "allowMultiple": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "color",
                                  "allowMultiple"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type",
                              "options"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Phone",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "label": {
                                "type": "string"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "organization",
                                  "deal",
                                  "service",
                                  "task"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "const": "phone"
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "color": {
                                    "type": "string",
                                    "enum": [
                                      "default",
                                      "secondary",
                                      "destructive",
                                      "success",
                                      "warning",
                                      "info"
                                    ]
                                  },
                                  "allowMultiple": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "color",
                                  "allowMultiple"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "id",
                              "label",
                              "entityType",
                              "type",
                              "options"
                            ],
                            "additionalProperties": false
                          }
                        ],
                        "type": "object"
                      }
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "title": "Single value filter",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "operator": {
                                "anyOf": [
                                  {
                                    "title": "equals",
                                    "type": "string",
                                    "const": "equals"
                                  },
                                  {
                                    "title": "contains",
                                    "type": "string",
                                    "const": "contains"
                                  },
                                  {
                                    "title": "gt",
                                    "type": "string",
                                    "const": "gt"
                                  },
                                  {
                                    "title": "gte",
                                    "type": "string",
                                    "const": "gte"
                                  },
                                  {
                                    "title": "lt",
                                    "type": "string",
                                    "const": "lt"
                                  },
                                  {
                                    "title": "lte",
                                    "type": "string",
                                    "const": "lte"
                                  }
                                ]
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "operator",
                              "value"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Multi value filter",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "operator": {
                                "anyOf": [
                                  {
                                    "title": "in",
                                    "type": "string",
                                    "const": "in"
                                  },
                                  {
                                    "title": "notIn",
                                    "type": "string",
                                    "const": "notIn"
                                  },
                                  {
                                    "title": "between",
                                    "type": "string",
                                    "const": "between"
                                  },
                                  {
                                    "title": "hasNone",
                                    "type": "string",
                                    "const": "hasNone"
                                  },
                                  {
                                    "title": "hasSome",
                                    "type": "string",
                                    "const": "hasSome"
                                  }
                                ]
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "field",
                              "operator",
                              "value"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Standalone filter",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "operator": {
                                "anyOf": [
                                  {
                                    "title": "isNull",
                                    "type": "string",
                                    "const": "isNull"
                                  },
                                  {
                                    "title": "isNotNull",
                                    "type": "string",
                                    "const": "isNotNull"
                                  },
                                  {
                                    "title": "hasUnset",
                                    "type": "string",
                                    "const": "hasUnset"
                                  },
                                  {
                                    "title": "allSet",
                                    "type": "string",
                                    "const": "allSet"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "field",
                              "operator"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "title": "Relative window filter",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "operator": {
                                "title": "inLastDays",
                                "type": "string",
                                "const": "inLastDays"
                              },
                              "value": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "field",
                              "operator",
                              "value"
                            ],
                            "additionalProperties": false
                          }
                        ],
                        "type": "object"
                      }
                    },
                    "searchTerm": {
                      "type": "string"
                    },
                    "sortDescriptor": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "asc",
                            "desc"
                          ]
                        }
                      },
                      "required": [
                        "field",
                        "direction"
                      ],
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number",
                          "minimum": 1
                        },
                        "pageSize": {
                          "anyOf": [
                            {
                              "title": "5",
                              "type": "number",
                              "const": 5
                            },
                            {
                              "title": "10",
                              "type": "number",
                              "const": 10
                            },
                            {
                              "title": "25",
                              "type": "number",
                              "const": 25
                            },
                            {
                              "title": "100",
                              "type": "number",
                              "const": 100
                            }
                          ]
                        },
                        "totalPages": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "total": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        }
                      },
                      "required": [
                        "page",
                        "pageSize"
                      ],
                      "additionalProperties": false
                    },
                    "filterableFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "operators": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains",
                                "in",
                                "notIn",
                                "gt",
                                "gte",
                                "lt",
                                "lte",
                                "between",
                                "isNull",
                                "isNotNull",
                                "hasNone",
                                "hasSome",
                                "hasUnset",
                                "allSet",
                                "inLastDays"
                              ]
                            }
                          },
                          "label": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "operators"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "savedFilterPresets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "filters": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "title": "Single value filter",
                                  "type": "object",
                                  "properties": {
                                    "field": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "anyOf": [
                                        {
                                          "title": "equals",
                                          "type": "string",
                                          "const": "equals"
                                        },
                                        {
                                          "title": "contains",
                                          "type": "string",
                                          "const": "contains"
                                        },
                                        {
                                          "title": "gt",
                                          "type": "string",
                                          "const": "gt"
                                        },
                                        {
                                          "title": "gte",
                                          "type": "string",
                                          "const": "gte"
                                        },
                                        {
                                          "title": "lt",
                                          "type": "string",
                                          "const": "lt"
                                        },
                                        {
                                          "title": "lte",
                                          "type": "string",
                                          "const": "lte"
                                        }
                                      ]
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "field",
                                    "operator",
                                    "value"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "title": "Multi value filter",
                                  "type": "object",
                                  "properties": {
                                    "field": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "anyOf": [
                                        {
                                          "title": "in",
                                          "type": "string",
                                          "const": "in"
                                        },
                                        {
                                          "title": "notIn",
                                          "type": "string",
                                          "const": "notIn"
                                        },
                                        {
                                          "title": "between",
                                          "type": "string",
                                          "const": "between"
                                        },
                                        {
                                          "title": "hasNone",
                                          "type": "string",
                                          "const": "hasNone"
                                        },
                                        {
                                          "title": "hasSome",
                                          "type": "string",
                                          "const": "hasSome"
                                        }
                                      ]
                                    },
                                    "value": {
[...]
